#root {
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    height: 100%;
    user-select: none;
}

.app-click {
    cursor: pointer;
}

.page {
    width: 100%;
    height: 100%;
    position: relative;
}

.page-image-entry {
    position: absolute;
}

.page-text-entry {
    position: absolute;
}

.fade-transition {
    opacity: 0;
}

.fade-transition-enter {
    opacity: 0;
}

.fade-transition-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}

.fade-transition-exit {
    opacity: 1;
}

.fade-transition-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}

.fade-transition-enter-done {
    opacity: 1;
}